{% extends 'cae_web_core/main.html' %}
{% load staticfiles %}
{% load attendant_template_tags %}

{% block title_page_name %}Attendant Checkouts |{% endblock title_page_name %}

{% block extra_styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'cae_web_attendants/css/attendants.css' %}">
{% endblock extra_styles %}

{% block base_scripts %}
{{ block.super }}
<script>let userId = "{{ user.get_username }}";</script>
{% endblock base_scripts %}

{% block content %}
	<h1>Welcome to the CAE Web Attendants Checkout page</h1>

	{% if success == 1 %}
    <div class="panel success">
            <div class="header">Room Checkout Successfully Created</div>
    {% elif success == -1 %}
    <div class="panel error">
        <div class="header">Failed to Create Room Checkout</div>
    {% else %}
    <div class="panel primary">
        <div class="header">Create Room Checkout</div>
    {% endif %}
        <div class="content">
        {% include 'cae_home/include/form.html' %}
        </div>
        <div class="footer"></div>
    </div>
	
	{% if room_checkouts %}
	<table>
		<thead>
			<tr>
				<th colspan="3" class="table-caption-left">
					Room Checkouts
				</th>
				<th class="table-caption-right">
					<span class="step-links">
						{% if room_checkouts.has_previous %}
						<a class="button" href="?page=1{% if order_by %}&order_by={{ order_by }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}"><i class="fas fa-angle-double-left"></i></a>
						<a class="button" href="?page={{ room_checkouts.previous_page_number }}{% if order_by %}&order_by={{ order_by }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}"><i class="fas fa-angle-left"></i></a>
						{% else %}
						<button><i class="fas fa-angle-double-left"></i></button>
						<button><i class="fas fa-angle-left"></i></button>
						{% endif %}

						<span class="current">
							{{ room_checkouts.number }} / {{ room_checkouts.paginator.num_pages }}
						</span>

						{% if room_checkouts.has_next %}
						<a class="button" href="?page={{ room_checkouts.next_page_number }}{% if order_by %}&order_by={{ order_by }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}"><i class="fas fa-angle-right"></i></a>
						<a class="button" href="?page={{ room_checkouts.paginator.num_pages }}{% if order_by %}&order_by={{ order_by }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}"><i class="fas fa-angle-double-right"></i></a>
						{% else %}
						<button><i class="fas fa-angle-right"></i></button>
						<button><i class="fas fa-angle-double-right"></i></button>
						{% endif %}
					</span>
				</th>
			</tr>
			<tr>
				<th>
					{% if order_by == "room" %}
						{% if direction == "asc" %}
							<a href="?order_by=room&direction=desc"><i class="fas fa-arrow-circle-up"></i> <h4>Room</h4></a>
						{% elif direction == "desc" %}
							<a href="?order_by=room&direction=asc"><i class="fas fa-arrow-circle-down"></i> <h4>Room</h4></a>
						{% else %}
							<a href="?order_by=room&direction=desc"><h4>Room</h4></a>
						{% endif %}
					{% else %}
						<a href="?order_by=room&direction=desc"><h4>Room</h4></a>
					{% endif %}
				</th>
				<th>
					{% if order_by == "student" %}
						{% if direction == "asc" %}
							<a href="?order_by=student&direction=desc"><i class="fas fa-arrow-circle-up"></i> <h4>Student</h4></a>
						{% elif direction == "desc" %}
							<a href="?order_by=student&direction=asc"><i class="fas fa-arrow-circle-down"></i> <h4>Student</h4></a>
						{% else %}
							<a href="?order_by=student&direction=desc"><h4>Student</h4></a>
						{% endif %}
					{% else %}
						<a href="?order_by=student&direction=desc"><h4>Student</h4></a>
					{% endif %}
				</th>
				<th>
					{% if order_by == "checkout_date" %}
						{% if direction == "asc" %}
							<a href="?order_by=checkout_date&direction=desc"><i class="fas fa-arrow-circle-up"></i> <h4>Date</h4></a>
						{% elif direction == "desc" %}
							<a href="?order_by=checkout_date&direction=asc"><i class="fas fa-arrow-circle-down"></i> <h4>Date</h4></a>
						{% else %}
							<a href="?order_by=checkout_date&direction=asc"><h4>Date</h4></a>
						{% endif %}
					{% elif not order_by and not direction  %}
						<a href="?order_by=checkout_date&direction=asc"><i class="fas fa-arrow-circle-down"></i> <h4>Date</h4></a>
					{% else %}
						<a href="?order_by=checkout_date&direction=desc"><h4>Date</h4></a>
					{% endif %}
				</th>
				<th>
					<h4>Phone</h4>
				</th>
			</tr>
		</thead>
		<tbody>
			{% for checkout in room_checkouts %}
			<tr>
				<td>
					<p>{{ checkout.room}}</p>
				</td>
				<td>
					<p>{{ checkout.student.first_name }} {{ checkout.student.last_name }} ({{ checkout.student.bronco_net }})</p>
				</td>
				<td>
					<p>{{ checkout.checkout_date | date:"F jS, Y" }}</p>
				</td>
				<td>
					<a href="tel: {{ phones|phone_number:forloop.counter0 }}">{{ phones|phone_number:forloop.counter0 }}</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p>No rooms have been checked out.</p>
	{% endif %}
{% endblock content %}
