{% extends 'cae_web_core/main.html' %}
{% load staticfiles%}

{% block title_page_name %}Attendants |{% endblock title_page_name %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'cae_web_attendants/css/room_select.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'cae_web_attendants/css/attendants.css' %}">
{% endblock extra_styles %}

{% block base_scripts %}
<script>let roomInputId = "{{ form.room.id_for_label }}";</script>
<script>let userId = "{{ user.get_username }}";</script>
{% endblock base_scripts %}

{% block content %}
	<!-- this should probably be divided into pages instead of listing them all -->
	<h1>Welcome to the CAE Web Attendants page</h1>

	{% include "./forms/room-checkout.html" %}

	{% if room_checkout_list %}
	<div class="panel info">
		<div class="header">
			<p>Room Checkouts</p>
		</div>
		<div class="content">
			{% for checkout in room_checkout_list %}
				<div class="room-checkout {% cycle 'light' 'dark' %}"><b>{{ checkout.room}}</b> checked out by {{ checkout.employee}} on {{ checkout.checkout_date | date:"F jS, Y" }} at {{ checkout.checkout_date | date:"P" }}</div>
			{% endfor %}
		</div>
	</div>
	{% else %}
	<p>No rooms have been checked out.</p>
	{% endif %}
{% endblock content %}

{% block extra_scripts_body %}
<script src="{% static 'cae_web_attendants/js/room_select.js' %}"></script>
<script src="{% static 'cae_web_attendants/js/select_default_user.js' %}"></script>
<script>selectDefaultUser(userId)</script>
{% endblock extra_scripts_body %}