{% extends 'cae_web_core/main.html' %}
{% load staticfiles%}

{% block title_page_name %}Attendant Checklists |{% endblock title_page_name %}

{% block extra_styles %}
{{ block.super }}
{% endblock extra_styles %}

{% block base_scripts %}
{{ block.super }}
{% endblock base_scripts %}

{% block content %}
    <h1>Attendants Checklists</h1>

    {# If the form to create a new checklist template should be displayed #}
    {% if create_template %}
    {% if success == 1 %}
    <div class="panel success">
            <div class="header">Template Successfully Created</div>
    {% elif success == -1 %}
    <div class="panel error">
        <div class="header">Failed to Create Template</div>
    {% else %}
    <div class="panel primary">
        <div class="header">Create a Template</div>
    {% endif %}
        {% comment %}
            The way this works is that two forms are passed to the template,
            one for creating a new template with no tasks and another form to
            create the tasks for the newly created template. (Technically
            the task form is a formset.) Both of these forms are submitted
            using the same button. The view process each form separately.
        {% endcomment %}
        <form action="" class="content" method="POST" id="template" style="display: flex">
            {% csrf_token %}
            <div style="flex: 50%; flex-direction: column">
                {# Template form #}
                {{ form.as_p }}
            </div>
            <div style="flex: 50%; flex-direction: column">
                <input type="button" value="Add New Task" id="add_more">
                {# Task forms #}
                {{ formset.management_form }}
                <div id="form_set">
                    {% for form in formset.forms %}
                        {{ form.non_field_errors }}
                        {{ form.errors }}
                        <div class='no_error'>
                            {{ form }}
                        </div>
                    {% endfor %}
                </div>
                <div id="empty_form" style="display:none">
                    <div class='no_error'>
                        {{ formset.empty_form }}
                    </div>
                </div>
            </div>
        </form>
        <div class="footer">
            <button type="submit" name="action" value="Template" form="template">
                    <i class="fas fa-plus"></i> Create
            </button>
        </div>
    </div>

    {# Adds a button to create more form fields #}
    {# TODO: Add method to remove a task #}
    <script>
        $('#add_more').click(function() {
	        var form_idx = $('#id_form-TOTAL_FORMS').val();
	        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
	        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        });
    </script>
    {% endif %}

    {# If user is creating a new checklist instance from an existing template #}
    {% if create_instance %}
    {% if success == 1 %}
    <div class="panel success">
            <div class="header">Checklist Successfully Opened</div>
    {% elif success == -1 %}
    <div class="panel error">
        <div class="header">Failed to Open Checklist</div>
    {% else %}
    <div class="panel primary">
        <div class="header">Open a Checklist</div>
    {% endif %}
        <div class="content">
            <form action="" method="POST" id="checklist">
                    {% csrf_token %}
                    {{ form.as_p }}
            </form>
        </div>
        <div class="footer">
            <button type="submit" name="action" value="Instance" form="checklist">
                    <i class="fas fa-plus"></i> Create
            </button>
        </div>
    </div>
    {% endif %}

    <div class="panel primary">
        <div class="header">Checklist Templates</div>
        <div class="content" style="display: flex">
            <div style="flex: 50%; flex-direction: column">
                <p>Select a checklist to view its contents.</p>
                {% if checklist_templates %}
                {% for checklist in checklist_templates %}
                <a href="?template={{ checklist.pk }}">{{ checklist.title }}</a><br />
                {% endfor %}
                {% else %}
                <p>No checklists have been created yet.</p>
                {% endif %}
                <p><a href="?create=template"><i class="fas fa-plus-square"></i> Create New Template</a></p>
            </div>
            <div style="flex: 50%; flex-direction: column">
                {% if focused_template %}
                {% for task in focused_template.checklist_item.all %}
                <p>{{ task.task }}</p>
                {% endfor %}
                <p><a href="?create=checklist&template={{ focused_template.pk }}"><i class="fas fa-plus-square"></i> Create {{ focused_template.title }} Checklist</a></p>
                {% endif %}
            </div>
        </div>
        <div class="footer"></div>
    </div>

    {# If user has selected a checklist from the table, show the checklist details #}
    {% if focused_instance %}
    <div class="panel secondary">
        <div class="header">Checklist Data</div>
        <div class="content" style="display: flex">
            <div style="flex: 50%; flex-direction: column">
                <p><b>Name:</b> {{ focused_instance.title }}</p>
                <p><b>Room:</b> {{ focused_instance.room }}</p>
                <p><b>Created by:</b> {{ focused_instance.employee }}</p>
                {% if focused_instance.date_completed %}
                <p><b style="color: green;"><i class="fas fa-check-circle"></i> Complete</b></p>
                <p><b>Date Completed:</b> {{ focused_instance.date_completed | date:"F jS, Y" }}</p>
                <p><b>Time Completed:</b> {{ focused_instance.date_completed | date:"P" }}</p>
                {% else %}
                <p><b style="color: red;"><i class="fas fa-exclamation-triangle"></i> Incomplete</b></p>
                {% endif %}
                <p><a href="?edit={{ focused_instance.pk }}"><i class="fas fa-edit"></i> Edit Checklist</a></p>
            </div>
            <div style="flex: 50%; flex-direction: column">
                <p><b>Task list:</b></p>
                {% for task in focused_instance.task.all %}
                {% if task.completed is True %}
                <p><i class="fas fa-check" style="color: green;"></i> {{ task.task }}</p>
                {% else %}
                <p><i class="fas fa-times" style="color: red;"></i> {{ task.task }}</p>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="footer"></div>
    </div>
    {% elif edit_instance %}
    {% if success == 1 %}
    <div class="panel success">
        <div class="header">Checklist Successfully Updated</div>
    {% elif success == -1 %}
    <div class="panel error">
        <div class="header">Failed to Update Checklist</div>
    {% else %}
    <div class="panel secondary">
        <div class="header">Update Checklist</div>
    {% endif %}
            <div class="content" style="display: flex">
                <div style="flex: 50%; flex-direction: column">
                    <p><b>Name:</b> {{ edit_instance.title }}</p>
                    <p><b>Room:</b> {{ edit_instance.room }}</p>
                    <p><b>Created by:</b> {{ edit_instance.employee }}</p>
                    {% if edit_instance.date_completed %}
                    <p><b style="color: green;"><i class="fas fa-check-circle"></i> Complete</b></p>
                    <p><b>Date Completed:</b> {{ edit_instance.date_completed | date:"F jS, Y" }}</p>
                    <p><b>Time Completed:</b> {{ edit_instance.date_completed | date:"P" }}</p>
                    {% else %}
                    <p><b style="color: red;"><i class="fas fa-exclamation-triangle"></i> Incomplete</b></p>
                    {% endif %}
                </div>
                <div style="flex: 50%; flex-direction: column">
                    <form action="" method="POST" id="instance">
                        {% csrf_token %}
                        {{ formset.as_p }}
                    </form>
                </div>
            </div>
            <div class="footer">
                <button type="submit" name="action" value="Edit" form="instance">
                        Save
                </button>
            </div>
        </div>
    </div>
    {% endif %}

    {# If there are checklists instances in the database, show them on a table #}
    {% if checklist_instances %}
	<table>
		<thead>
			<tr>
				<th colspan="4" class="table-caption-left">
					Opened Checklists
				</th>
				<th class="table-caption-right">
					<span class="step-links">
						{% if checklist_instances.has_previous %}
						<a class="button" href="?page=1{% if order_by %}&order_by={{ order_by }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}"><i class="fas fa-angle-double-left"></i></a>
						<a class="button" href="?page={{ checklist_instances.previous_page_number }}{% if order_by %}&order_by={{ order_by }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}"><i class="fas fa-angle-left"></i></a>
						{% else %}
						<button><i class="fas fa-angle-double-left"></i></button>
						<button><i class="fas fa-angle-left"></i></button>
						{% endif %}

						<span class="current">
							{{ checklist_instances.number }} / {{ checklist_instances.paginator.num_pages }}
						</span>

						{% if checklist_instances.has_next %}
						<a class="button" href="?page={{ checklist_instances.next_page_number }}{% if order_by %}&order_by={{ order_by }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}"><i class="fas fa-angle-right"></i></a>
						<a class="button" href="?page={{ checklist_instances.paginator.num_pages }}{% if order_by %}&order_by={{ order_by }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}"><i class="fas fa-angle-double-right"></i></a>
						{% else %}
						<button><i class="fas fa-angle-right"></i></button>
						<button><i class="fas fa-angle-double-right"></i></button>
						{% endif %}
					</span>
				</th>
			</tr>
			<tr>
				<th>
					{% if order_by == "title" %}
						{% if direction == "asc" %}
							<a href="?order_by=title&direction=desc"><i class="fas fa-arrow-circle-up"></i> Title</a>
						{% elif direction == "desc" %}
							<a href="?order_by=title&direction=asc"><i class="fas fa-arrow-circle-down"></i> Title</a>
						{% else %}
							<a href="?order_by=title&direction=desc">Title</a>
						{% endif %}
					{% else %}
						<a href="?order_by=title&direction=desc">Title</a>
					{% endif %}
                </th>
                <th>
					{% if order_by == "room" %}
						{% if direction == "asc" %}
							<a href="?order_by=room&direction=desc"><i class="fas fa-arrow-circle-up"></i> Room</a>
						{% elif direction == "desc" %}
							<a href="?order_by=room&direction=asc"><i class="fas fa-arrow-circle-down"></i> Room</a>
						{% else %}
							<a href="?order_by=room&direction=desc">Room</a>
						{% endif %}
					{% else %}
						<a href="?order_by=room&direction=desc">Room</a>
					{% endif %}
				</th>
				<th>
					{% if order_by == "employee" %}
						{% if direction == "asc" %}
							<a href="?order_by=employee&direction=desc"><i class="fas fa-arrow-circle-up"></i> Employee</a>
						{% elif direction == "desc" %}
							<a href="?order_by=employee&direction=asc"><i class="fas fa-arrow-circle-down"></i> Employee</a>
						{% else %}
							<a href="?order_by=employee&direction=desc">Employee</a>
						{% endif %}
					{% else %}
						<a href="?order_by=employee&direction=desc">Employee</a>
					{% endif %}
				</th>
				<th>
                    {% if order_by == "date_created" %}
                        {% if direction == "asc" %}
                            <a href="?order_by=date_created&direction=desc"><i class="fas fa-arrow-circle-up"></i> Date Created</a>
                        {% elif direction == "desc" %}
                            <a href="?order_by=date_created&direction=asc"><i class="fas fa-arrow-circle-down"></i> Date Created</a>
                        {% else %}
                            <a href="?order_by=date_created&direction=desc">Date Created</a>
                        {% endif %}
                    {% else %}
                        <a href="?order_by=date_created&direction=desc">Date Created</a>
                    {% endif %}
                </th>
                <th>
                    {% if order_by == "date_completed" %}
                        {% if direction == "asc" %}
                            <a href="?order_by=date_completed&direction=desc"><i class="fas fa-arrow-circle-up"></i> Date Completed</a>
                        {% elif direction == "desc" %}
                            <a href="?order_by=date_completed&direction=asc"><i class="fas fa-arrow-circle-down"></i> Date Completed</a>
                        {% else %}
                            <a href="?order_by=date_completed&direction=asc">Date Completed</a>
                        {% endif %}
                    {% elif not order_by and not direction  %}
                        <a href="?order_by=date_completed&direction=asc"><i class="fas fa-arrow-circle-down"></i> Date Completed</a>
                    {% else %}
                        <a href="?order_by=date_completed&direction=desc">Date Completed</a>
                    {% endif %}
                </th>
			</tr>
		</thead>
		<tbody>
			{% for instance in checklist_instances %}
			<tr>
				<td>
					<p><a href="?checklist={{ instance.pk }}">{{ instance.title }}</a></p>
                </td>
                <td>
					<p>{{ instance.room }}</p>
				</td>
				<td>
					<p>{{ instance.employee }}</p>
				</td>
				<td>
					<p>{{ instance.date_created | date:"F jS, Y" }} @ {{ instance.date_created | date:"P" }}</p>
                </td>
                <td>
                    {% if instance.date_completed %}
                    <p>{{ instance.date_completed | date:"F jS, Y" }} @ {{ instance.date_completed | date:"P" }}</p>
                    {% else %}
                    <p style="color: red;">Incomplete</p>
                    {% endif %}
                </td>
			</tr>
			{% endfor %}
		</tbody>
    </table>
    <p>Click a checklist's title to view more information about it.</p>
	{% else %}
	<p>Checklists will be shown here when started.</p>
	{% endif %}

{% endblock content %}

{% block extra_scripts_body %}
{{ block.super }}
{% endblock extra_scripts_body %}
