{% extends 'cae_work_log/main.html' %}


{% block title_page_name %}Work Log | {% endblock title_page_name %}


{% block content %}
  <h1>CAE Work Log</h1>

  <div class="filters">
    <div>
      <p>Group</p>
      <select>
        {% for group in groups %}
          <option value="{{ group.name }}">{{ group.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <p>Time Frame</p>
      <select>
        {% for timeframe in timeframes %}
          <option value="{{ timeframe }}">{{ timeframe }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <p>Log Set</p>
      <select>
        {% for set in log_sets %}
          <option value="{{ set }}">{{ set }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="entries">
    <a href="{% url 'cae_work_log:create' %}">New</a>
    {% for entry in log_entries %}
      <div class="entry">
        <div class="entry_header"><span>{{ entry.entry_date }}</span><span>{{ entry.user }}</span></div>
        <div class="entry_body">{{ entry.description }}</div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
