{% if form.rrule_repeat.errors %}
<div></div> {{ form.rrule_repeat.errors }}
{% endif %}
{{ form.rrule_repeat.label_tag }} <div>
  <div class="rrule-main">
    {{ form.rrule_repeat }}<span class="rrule-count"> every {{ form.rrule_count }} <span class="rrule-count-day">day</span><span class="rrule-count-week">week</span>(s)</span>
  </div>
</div>
{{ form.rrule_weekly_on.label_tag }} {{ form.rrule_weekly_on }}
{{ form.rrule_end.label_tag }} <div class="rrule-end">
  {{ form.rrule_end.0 }}<br>
  {{ form.rrule_end.1 }} {{ form.rrule_end_after }} occurrence(s)<br>
  {{ form.rrule_end.2 }} {{ form.rrule_end_on }} <i class="far fa-calendar-alt"></i>
</div>