{% extends 'cae_web_core/main.html' %}


{% block title_page_name %}Index | {% endblock title_page_name %}


{% block content %}
  <h1>CAE Center Contact Info</h1>
  <article>
    <div class="panel primary">
      <div class="head">
        <h2>CAE Center</h2>
      </div>
      <div class="content">
        <p>Contact for help with IT, A/V, or other building issues on WMU's Engineering Campus.</p>
        <br>
        <p>Room: C-225</p>
        <p>Phone: <a href="tel:{{ cae_center.phone_number }}">{{ cae_center.phone_number.as_national }}</a></p>
        <p>Email: <a href="mailto:{{ cae_center.get_official_email }}">{{ cae_center.get_official_email }}</a></p>
      </div>
    </div>
  </article>

  <article>
    {% if cae_directors.count == 0 %}
      <div class="panel primary">
        <div class="head">
          <h2>CAE Director - Replacement Pending</h2>
        </div>
        <div class="content">
          <p>Please contact CAE Center or Building Coordinators for further information.</p>
        </div>
      </div>

    {% elif cae_directors.count == 1 %}
      <div class="panel primary">
        <div class="head">
          {% if cae_directors.first.first_name and cae_directors.first.last_name %}
            <h2>CAE Director - {{ cae_directors.first.first_name }} {{ cae_directors.first.last_name }}</h2>
          {% else %}
            <h2>CAE Director - {{ cae_directors.first.username }}</h2>
          {% endif %}
        </div>
        <div class="content">
          {% if cae_directors.first.profile.phone_number %}
            <p>Phone:
              <a href="tel:{{ cae_directors.first.profile.phone_number }}">
                {{ cae_directors.first.profile.phone_number.as_national }}
              </a>
            </p>
          {% else %}
            <p>Phone: N/A</p>
          {% endif %}
          {% if cae_directors.first.email %}
            <p>Email: <a href="mailto:{{ cae_directors.first.email }}">{{ cae_directors.first.email }}</a></p>
          {% else %}
            <p>Email: N/A</p>
          {% endif %}
        </div>
      </div>
    {% else %}
        <h2>CAE Directors</h2>

        {% for director in cae_directors %}

          <div class="panel primary">
            <div class="head">
              {% if director.first_name and director.last_name %}
                <h3>{{ director.first_name }} {{ director.last_name }}</h3>
              {% else %}
                <h3>{{ director.username }}</h3>
              {% endif %}
            </div>
            <div class="content">
              {% if director.profile.phone_number %}
                <p>Phone:
                  <a href="tel:{{ director.profile.phone_number }}">
                    {{ director.profile.phone_number.as_national }}
                  </a>
                </p>
              {% else %}
                <p>Phone: N/A</p>
              {% endif %}
              {% if director.email %}
                <p>Email: <a href="mailto:{{ director.email }}">{{ director.email }}</a></p>
              {% else %}
                <p>Email: N/A</p>
              {% endif %}
            </div>
          </div>
        {% endfor %}

    {% endif %}
  </article>

  <article>
    {% if cae_coordinators.count == 0 %}
      <div class="panel primary">
        <div class="head">
          <h2>Building Coordinators - Replacement Pending</h2>
        </div>
        <div class="content">
          <p>Please contact CAE Center or CAE Director for further information.</p>
        </div>
      </div>

    {% elif cae_coordinators.count == 1 %}
      <div class="panel primary">
        <div class="head">
          {% if cae_coordinators.first.first_name and cae_coordinators.first.last_name %}
            <h2>CAE Director - {{ cae_coordinators.first.first_name }} {{ cae_coordinators.first.last_name }}</h2>
          {% else %}
            <h2>CAE Director - {{ cae_coordinators.first.username }}</h2>
          {% endif %}
        </div>
        <div class="content">
          {% if cae_coordinators.first.profile.phone_number %}
            <p>Phone:
              <a href="tel:{{ cae_coordinators.first.profile.phone_number }}">
                {{ cae_coordinators.first.profile.phone_number.as_national }}
              </a>
            </p>
          {% else %}
            <p>Phone: N/A</p>
          {% endif %}
          {% if cae_coordinators.first.email %}
            <p>Email: <a href="mailto:{{ cae_coordinators.first.email }}">{{ cae_coordinators.first.email }}</a></p>
          {% else %}
            <p>Email: N/A</p>
          {% endif %}
        </div>
      </div>

    {% else %}
      <h2>Building Coordinators</h2>
      {% for coordinator in cae_coordinators %}
        <div class="panel primary">
          <div class="head">
            {% if coordinator.first_name and coordinator.last_name %}
              <h3>{{ coordinator.first_name }} {{ coordinator.last_name }}</h3>
            {% else %}
              <h3>{{ coordinator.username }}</h3>
            {% endif %}
          </div>
          <div class="content">
            {% if coordinator.profile.phone_number %}
              <p>Phone:
                <a href="tel:{{ coordinator.profile.phone_number }}">
                  {{ coordinator.profile.phone_number.as_national }}
                </a>
              </p>
            {% else %}
              <p>Phone: N/A</p>
            {% endif %}
            {% if coordinator.email %}
              <p>Email: <a href="mailto:{{ coordinator.email }}">{{ coordinator.email }}</a></p>
            {% else %}
              <p>Email: N/A</p>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </article>

  {% if cae_admins %}
    <article>
      <h2>CAE Admins</h2>

      {% for admin in cae_admins %}
        <div class="panel primary">
          <div class="head">
            {% if admin.first_name and admin.last_name %}
              <h3>{{ admin.first_name }} {{ admin.last_name }}</h3>
            {% else %}
              <h3>{{ admin.username }}</h3>
            {% endif %}
          </div>
          <div class="content">
            {% if admin.profile.phone_number %}
              <p>Phone:
                <a href="tel:{{ admin.profile.phone_number }}">
                  {{ admin.profile.phone_number.as_national }}
                </a>
              </p>
            {% else %}
              <p>Phone: N/A</p>
            {% endif %}
            {% if admin.email %}
              <p>Email: <a href="mailto:{{ admin.email }}">{{ admin.email }}</a></p>
            {% else %}
              <p>Email: N/A</p>
            {% endif %}
          </div>
        </div>
      {% endfor %}

    </article>
  {% endif %}


  {% if cae_attendants %}
    <article>
      <h2>CAE Attendants</h2>

      {% for attendant in cae_attendants %}
        <div class="panel primary">
          <div class="head">
            {% if attendant.first_name and attendant.last_name %}
              <h3>{{ attendant.first_name }} {{ attendant.last_name }}</h3>
            {% else %}
              <h3>{{ attendant.username }}</h3>
            {% endif %}
          </div>
          <div class="content">
            {% if attendant.profile.phone_number %}
              <p>Phone:
                <a href="tel:{{ attendant.profile.phone_number }}">
                  {{ attendant.profile.phone_number.as_national }}
                </a>
              </p>
            {% else %}
              <p>Phone: N/A</p>
            {% endif %}
            {% if attendant.email %}
              <p>Email: <a href="mailto:{{ admin.email }}">{{ attendant.email }}</a></p>
            {% else %}
              <p>Email: N/A</p>
            {% endif %}
          </div>
        </div>
      {% endfor %}

    </article>
  {% endif %}


  {% if cae_programmers %}
    <article>
      <h2>CAE Programmers</h2>

      {% for programmer in cae_programmers %}
        <div class="panel primary">
          <div class="head">
            {% if programmer.first_name and programmer.last_name %}
              <h3>{{ programmer.first_name }} {{ programmer.last_name }}</h3>
            {% else %}
              <h3>{{ programmer.username }}</h3>
            {% endif %}
          </div>
          <div class="content">
            {% if programmer.profile.phone_number %}
              <p>Phone:
                <a href="tel:{{ programmer.profile.phone_number }}">
                  {{ programmer.profile.phone_number.as_national }}
                </a>
              </p>
            {% else %}
              <p>Phone: N/A</p>
            {% endif %}
            {% if programmer.email %}
              <p>Email: <a href="mailto:{{ programmer.email }}">{{ programmer.email }}</a></p>
            {% else %}
              <p>Email: N/A</p>
            {% endif %}
          </div>
        </div>
      {% endfor %}

    </article>
  {% endif %}

{% endblock content %}
