{% extends 'cae_web_core/main.html' %}
{% load static tz %}


{% block title_page_name %}Schedules | {% endblock title_page_name %}
{% block title_app_name %}Employee | {% endblock title_app_name %}


{% block extra_styles %}
  {{ block.super }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'cae_web_core/css/schedule.css' %}">

<style>
/* Remove Sidebars */
#content {
    grid-column-start: 1;
    grid-column-end: -1;
}
#main-placeholder-left, #main-placeholder-right {
    display: none;
}
</style>
{% endblock %}

{% block extra_scripts_body %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.21/moment-timezone.min.js" crossorigin="anonymous"></script>

  <!-- NON-React version -->
  <script src="https://cdn.jsdelivr.net/npm/flatpickr" defer></script>
  <script src="{% static '/cae_web_core/js/plain_schedule.js' %}" defer></script>
{% endblock extra_scripts_body %}

{% block content %}
  <article>
    <h1>Employee Schedules</h1>

    {% include 'cae_web_core/employee/_nav_employee_types.html' %}

    <br>
    <br>

    <div class="schedule-container"
      data-start="{{ start.isoformat }}"
      data-end="{{ end.isoformat }}"
      data-resources="{{ employees_json }}"
      data-employee-type="{{ employee_type_pk }}"
      data-event-mode="availability"
      data-mode="week"
      data-mode-allow-change="true"
    >
      <h2>Please Wait</h2>
      <p>The calendar view should load in a moment.</p>
      <noscript>Please enable Javascript to view the calendar.</noscript>
    </div>
  </article>
  <div id="div_event_dialog" {% if form.errors %}data-errors{% endif %} hidden>
    <form id="form_event" method="POST">
      {% csrf_token %}
      {{ form.availability_event_pk }}
      {% if form.non_field_errors %}
        <label>Errors:</label> {{ form.non_field_errors }}
      {% endif %}
      {% if form.start_time.errors %}
        <div></div> {{ form.start_time.errors }}
      {% endif %}
      {{ form.start_time.label_tag }} <div class="div-flatpickr">{{ form.start_time }} <i class="far fa-calendar-alt"></i></div>
      {% if form.end_time.errors %}
        <div></div> {{ form.end_time.errors }}
      {% endif %}
      {{ form.end_time.label_tag }} <div class="div-flatpickr">{{ form.end_time }} <i class="far fa-calendar-alt"></i></div>
      {% include 'cae_web_core/_rrule_form.html' %}
      {% if form.event_type.errors %}
        <div></div> {{ form.event_type.errors }}
      {% endif %}
      {{ form.event_type.label_tag }} {{ form.event_type }}
      {% if form.employee.errors %}
        <div></div> {{ form.employee.errors }}
      {% endif %}
      {{ form.employee.label_tag }} {{ form.employee }}
    </form>
    {{ form.media }}

    <div class="dialog-buttons">
      <button id="btn_delete" form="form_event" type="submit" name="_delete" value="1" class="danger pull-left">Delete</button>
      <button id="btn_cancel" class="warning">Cancel</button>
      <button form="form_event" type="submit" class="success">Save</button>
    </div>
  </div>
  <div id="div_rrule_dialog" class="panel" hidden>
    <div class="header">Edit Recurring Event</div>
    <div class="content">Do you want to edit only this occurrence or the whole series?</div>
    <div class="footer dialog-buttons">
      <button id="btn_rrule_cancel" class="warning">Cancel</button>
      <button id="btn_rrule_occurrence" class="default">Edit occurrence</button>
      <button id="btn_rrule_series" class="default">Edit series</button>
    </div>
  </div>
{% endblock content %}
