{% extends 'cae_web_core/main.html' %}
{% load staticfiles %}


{% block title_page_name %}
  {% if user.first_name %}
    {{ user.first_name }}'s Hours |
  {% else %}
    {{ user }}'s Hours |
  {% endif %}
{% endblock title_page_name %}


{% block content %}
  <article id="content">
    {% if user.first_name %}
      <h1>{{ user.first_name }}'s Hours</h1>
    {% else %}
      <h1>Worked Hours for {{ user }}</h1>
    {% endif %}

    <div id="react-root">
      {{ last_shift }}

      {% for shift in shifts %}
        <p>{{ shift }}</p>
      {% endfor %}
    </div>
  </article>
{% endblock content %}


{% block extra_scripts_body %}
  <script>
      // Get json list of django models as JavaScript variable.
      var json_shifts = {{ json_shifts|safe }};

      // Grab root project url.
      var domain = "{{ domain }}"
      console.log(domain);
    </script>
    <script src="{% static 'cae_web_core/js/my_hours.js' %}"></script>
{% endblock extra_scripts_body %}
