{% extends 'cae_web_core/main.html' %}
{% load static %}
{% load cae_web_core_tags %}


{% block title_page_name %}
  Shift Manager |
{% endblock title_page_name %}


{% block content %}
  <h1>
    Pay Period of<br>{{ pay_period.period_start|date:'M d, Y' }} through {{ pay_period.period_end|date:'M d, Y' }}
  </h1>
  <div class="shift-manager-buttons center">
    <form class="center">
      <button type="submit" formaction="{% url 'cae_web_core:shift_manager' pk=prev_pay_period %}">&#9204;</button>
      <button type="submit" formaction="{% url 'cae_web_core:shift_manager' pk=curr_pay_period %}">Current Pay Period</button>
      <button type="submit" formaction="{% url 'cae_web_core:shift_manager' pk=next_pay_period %}">&#9205;</button>
    </form>
  </div>
  <div class="shift-manager-list center">
    <hr>
    {% for user in users %}
      {% employee_pay_period_tables %}
    {% endfor %}
  </div>
{% endblock content %}
