{% extends 'cae_web_core/main.html' %}


{% block sub_title %}Form{% endblock sub_title %}


{% block content %}
  <div class="panel primary">
    <div class="header">
      {% if shift %}
        <h1>Edit Employee Shift</h1>
      {% else %}
        <h1>Create Employee Shift</h1>
      {% endif %}
    </div>

    <div class="body">
      <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
{% endblock content %}
