{% extends 'cae_web_core/main.html' %}


{% block title_page_name %}Shift Edit | {% endblock title_page_name %}
{% block title_app_name %}Employee | {% endblock title_app_name %}


{% block content %}
  <div class="panel primary">
    <div class="header">
      {% if shift %}
        <h1>Edit Employee Shift</h1>
      {% else %}
        <h1>Create Employee Shift</h1>
      {% endif %}
    </div>

    <div class="body">
      {% include 'cae_home/include/form.html' %}
    </div>
  </div>
{% endblock content %}
