{% extends 'cae_web_core/main.html' %}
{% load static %}
{% load cae_web_core_tags %}


{% block title_page_name %}Shift Manager | {% endblock title_page_name %}
{% block title_app_name %}Employee | {% endblock title_app_name %}


{% block content %}
  <h1>
    Pay Period of<br>{{ pay_period.date_start|date:'M d, Y' }} through {{ pay_period.date_end|date:'M d, Y' }}
  </h1>
  <article>
    <div class="display-only-web center">
      <form class="center">
        <button class="primary" type="submit" formaction="{% url 'cae_web_core:shift_manager' pk=prev_pay_period %}">
          <i class="fa fa-arrow-left"></i>
        </button>
        <button class="primary" type="submit" formaction="{% url 'cae_web_core:shift_manager' pk=curr_pay_period %}">
          Current Pay Period
        </button>
        <button class="primary" type="submit" formaction="{% url 'cae_web_core:shift_manager' pk=next_pay_period %}">
          <i class="fa fa-arrow-right"></i>
        </button>
      </form>
    </div>
    <div class="shift-manager-list center">
      {% for user in users %}
        {% employee_pay_period_tables %}
      {% endfor %}
    </div>
  </article>
{% endblock content %}
