//=====================//
//==== Schedule CSS ====//
//=====================//

// Import statements
@import '../../../../../../../cae_home/static/cae_home/css/sass/_variables';
@import '../../../../../../../cae_home/static/cae_home/css/sass/_mixins';

$light-border-color: $color-grey-70;


// Schedule
.schedule-container {
    border: 1px solid #6666;
    background: white;
    display: grid;
    grid-auto-rows: auto;

    .schedule-header {
        padding: 2px;
        @include display-flex;
        justify-content: space-between;

        // Prevent buttons from not being inline
        .buttons {
            display: inline-flex;
        }

        // This groups the calender button and input togethor
        .input-group {
            display: inline-flex;
        }
        .input-group > * {
            margin: 0;
        }

        button.schedule-btn-calendar {
            border-radius: 0;
            border: 1px solid $light-border-color;
            border-right-width: 0;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            margin-left: 4px;
            margin-right: 0;
        }

        .flatpickr-input {
            border: 1px solid $light-border-color;
            font-size: 1rem;
            padding: 0 4px;
            background: #e5e5e5;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            width: 15em; /* Big enough to always see date */
        }
    }

    .schedule-header > * {
        margin: 0;
    }

    .schedule-grid {
        display: grid;
        grid-template-columns: 70px;
        grid-auto-columns: minmax(70px, 1fr);
        grid-auto-rows: 15px;
        overflow: scroll;

        .schedule-header-spacer {
            grid-row: 1;
            grid-column: 1;
        }

        .schedule-grid-line {
            border-color: $light-border-color;
            border-style: solid;
            border-right-width: 1px;
            border-bottom-width: 1px;
        }

        .schedule-weekday {
            grid-row: 1;
            border: 1px solid black;
            border-bottom: none;
            text-align: center;
            position: sticky;
            top: 0;
            background: white;
            margin-left: -1px; // Hide double border
        }

        .schedule-resource {
            grid-column-end: span 2;
            border: 1px solid black;
            text-align: center;
            position: sticky;
            top: 0;
            background: white;
            margin-left: -1px; // Hide double border
        }

        .schedule-time {
            grid-column: 1;
            grid-row-end: span 4;
            border: 1px solid black;
            text-align: center;
            position: sticky;
            left: 0;
            background: white;
            margin-top: -1px; // Hide double border
        }

        .schedule-event {
            border: 1px solid gray;
            border-radius: 5px;
            padding: 2px;
            overflow: hidden;
            cursor: pointer;
        }
    }

    // Different modes affect some of the grid placement
    .schedule-grid.mode-day {
        grid-template-rows: 2.5em;
        .schedule-resource {
            grid-row: 1;
        }
    }

    .schedule-grid.mode-week {
        grid-auto-columns: minmax(25px, 1fr);
        grid-template-rows: 1.5em 5em;
        .schedule-header-spacer {
            grid-row-end: span 2;
        }
        .schedule-resource {
            grid-row: 2;
            top: 15px; // Height of first row (.schedule-weekday)
            border-top-color: $light-border-color;
            border-left-color: $light-border-color;
            overflow: hidden; // Prevent vertical text from causing a right margin

            .vertical {
                // These happen to make nicely aligned vertical text.
                // https://stackoverflow.com/a/47945825
                writing-mode: vertical-rl;
                transform: rotate(180deg);
                position: absolute; // used to pull text to the bottom
                bottom: 2px;
                left: 0;
            }
        }

        // First resource for each day should have a left border to differentiate the days
        .schedule-resource[data-i="0"] {
            border-left-color: black;
        }

        // // Remove left border from all but the first one
        // .schedule-resource ~ .schedule-resource {
        //     border-left: none;
        // }
    }
}

// Schedule Modal Dialog
#overlay-modal {
    padding: 25px;
    min-width: 450px; // Enough space for Rrule Weekday selector

    .dialog-buttons {
        margin-top: 25px;
        text-align: right;

        #btn_delete {
            float: left;
        }
    }

    #form_event {
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-row-gap: 10px;
        grid-column-gap: 10px;

        label {
            text-align: right;
        }

        .rrule-main, .rrule-end {
            text-align: left;
        }

        #id_rrule_count, #id_rrule_end_after {
            width: 3em;
        }

        #id_rrule_weekly_on {
            list-style-type: none;
            display: inline-block;

            li {
                display: inline-block;
            }
        }

        .div-flatpickr {
            display: flex;

            .flatpickr-input {
                flex-grow: 1;
                margin-right: 5px;
            }
        }

        .errorlist {
            color: red;
            list-style-type: none;
            padding-left: 0;
            text-align: left;
        }
    }
}
