<label>Filter Room Type:</label>
<div style="display: inline-block">
    <div class="buttons">
    {% for room_type in room_types %}
        <a
        href="{% url 'cae_web_core:room_schedule' room_type.slug %}"
        class="button {% if room_type.slug == room_type_slug %}primary{% endif %}"
        >{{ room_type.name }}</a>
    {% endfor %}
    </div>
</div>
{# TODO: Check if user can upload #}
<a href="{% url 'cae_web_core:upload_schedule' %}" class="button {% if room_type_slug == 'upload' %}primary{% endif %}">Upload Schedule</a>
