{% extends 'cae_web_core/main.html' %}
{% load static tz %}


{% block title_page_name %}Room Schedules |{% endblock title_page_name %}

{% block extra_styles %}
  {{ block.super }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<style>
body main #content {
  display: block;
}

.schedule-container {
  border: 1px solid #6666;
  background: white;
}

.schedule-responsive {
  max-width: 95vw;
  overflow-x: scroll;
  margin: auto;
  border: 1px solid #EEE;
}

.schedule-grid {
  display: grid;
  grid-template-columns: 70px;
  grid-template-rows: 45px;
  grid-auto-columns: minmax(70px, 1fr);
  grid-auto-rows: 15px;
}

.schedule-header {
  padding: 2px;
  display: flex;
}

.schedule-header > * {
  margin: 0;
}

.schedule-header > .buttons {
  display: flex;
}

.schedule-header > .buttons > button {
  margin: 0;
  border-radius: 0;
  border: 1px solid #CCC;
  border-right-width: 0;
}

.schedule-header > .buttons > *:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.schedule-header > .buttons > *:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right-width: 1px;
}

.schedule-header .schedule-btn-calendar {
  border-radius: 0;
  border: 1px solid #CCC;
  border-right-width: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 4px;
}

.schedule-header .flatpickr-input {
  border: 1px solid #CCC;
  font-size: 1rem;
  padding: 0 4px;
  margin: 0;
  background: #e5e5e5;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.schedule-header-spacer {
  grid-row: 1;
  grid-column: 1;
}

.schedule-grid-line {
  border-color: #DDD;
  border-style: solid;
  border-right-width: 1px;
  border-bottom-width: 1px;
}

.schedule-resource {
  grid-row: 1;
  grid-column-end: span 2;
  border: 1px solid black;
  text-align: center;
}

.schedule-time {
  grid-column: 1;
  grid-row-end: span 4;
  border: 1px solid black;
  text-align: center;
  position: sticky;
  left: 0;
  background: white;
}

.schedule-event {
  border: 1px solid orange;
  background-color: lightgoldenrodyellow;
  border-radius: 5px;
  padding: 2px;
  overflow: hidden;
}

.schedule-event-toolbar {
  float: right;
}

.schedule-event-toolbar > button {
  background: none;
  border: none;
  cursor: pointer;
}

.schedule-event-toolbar > button:hover {
  background: white;
  border: 1px solid black;
  border-radius: 3px;
}

div.dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 20;
}

div.dialog {
  margin: 50px auto;
  max-width: 500px;
}

.dialog > div.content {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.dialog > div.content label {
  text-align: right;
}

.dialog > div.content input {
  font-size: 1.5em;
}

</style>
{% endblock %}

{% block extra_scripts_body %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.21/moment-timezone.min.js" crossorigin="anonymous"></script>

  <!-- NON-React version -->
  <script src="https://cdn.jsdelivr.net/npm/flatpickr" defer></script>
  <script src="{% static '/cae_web_core/js/plain_schedule.js' %}" defer></script>
{% endblock extra_scripts_body %}

{% block content %}
  <article id="content">
    <h1>Room Schedules</h1>
    <div class="schedule-container"
      data-start="{{ start.isoformat }}"
      data-end="{{ end.isoformat }}"
      data-resources="{{ rooms_json }}"
      data-eventsURL="{% url 'cae_web_core:api_room_schedule' %}"
    >
      <h2>Something went wrong.</h2>
      <p>If you see this, then the page did not load properly.</p>
    </div>
  </article>
{% endblock content %}
